{% load i18n %}  
  <div class="accauntblock">{% if user.is_authenticated %}
       {% trans 'Hello' %} , {{ user.username }} <a href="/pybbs/logout/?url={{ request.get_full_path }}"> {% trans 'Logout' %} </a>
	  {% else %}
	  <form method="post" action="/pybbs/login/?url={{ request.get_full_path }}">
	  {% trans 'Username' %}:<input type="text" name="username" />
	  {% trans 'Password' %}: <input type="password" name="password" />
	  <input type="submit" value="{% trans 'Login' %}" /> 
	  <a href="/accounts/register/">{% trans 'Registration' %}:</a>
</form>

      {% endif %}
	  </div>