{% extends "pybbs/base.html" %}

{% load i18n %}

{% block title %}
  {{ message.title }}
{% endblock %}

{% block center %}
      {% if error_message %}
      <strong>{{ error_message }}</strong>
      {% else %}
      <table border="0">
        <tr align="left">
          <td>
            [ <a href="/pybbs/">#</a> ] >
            {% if parent_list %}
                {% for parents in parent_list %}
                   [
                   {% for parent in parents %}
                     <a href="/pybbs/{{parent.id}}/">{{ parent.title }}</a>;
                   {% endfor %}
                   ] >
                {% endfor %}
            {% endif %}
            '{{ message.title }}'
          </td>
        </tr>
        {% if message.body %}
        <tr><td><hr></td></tr>
        <tr>
          <td>{% trans 'Message' %}: {{message.body}}</td>
        </tr>
        <tr>
          <td>{% trans 'Author' %}: {{message.owner.username}}</td>
        </tr>
        {% endif %}
        <tr><td><hr></td></tr>
        {% if reply_list %}
            {% for reply in reply_list %}
            <tr align="left">
              <td><a href="/pybbs/{{reply.id}}/">{{ reply.title }}/{{ reply.owner.username }}/</a>: {{ reply.body }} </td> 
            </tr>
            {% endfor %}
        {% else %}
            {% if user.is_authenticated %}
            <tr align="left">
              <td>{% trans 'No replies. Be the first one.' %}</td>
            </tr>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
            <tr><td><hr></td></tr>
          {% if message.id %}
            <form action="/pybbs/{{ message.id }}/reply/" method="post">
                <tr align="left"><td><input type="text" id="id_title" name="title" value="Re:{{ message.title }}"/></td></tr>
          {% else %}
            <form action="/pybbs/create/" method="post">
                <tr align="left"><td><input type="text" id="id_title" name="title" value=""/></td></tr>
          {% endif %}
                <tr align="left"><td><textarea id="id_body" rows="10" cols="40" name="body"></textarea></td></tr>
                <tr align="left"><td><input type="submit" value="{% trans 'Reply' %}" /></td></tr>
            </form>
        {% endif %}
      </table>
     {% endif %}
{% endblock %}
