{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>{{ message.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
          #bg {
   	      background: #CCCCCC; 
	      padding: 5px;
          }
        </style>
    </head>
    <body>
     <div align="justify" id="bg">
      {% include 'pybbs/lang.html' %}
      {% if error_message %}
      <strong>{{ error_message }}</strong>
      {% else %}
      <table border="0" cellspacing="0" cellpadding="4">
        <tr align="left">
          <td>
            {% if parent_list %}
                {% for parent in parent_list %}
                     <a href="/pybbs/{{parent.id}}">{{ parent.title }}</a> >
                {% endfor %}
            {% endif %}
            {{ message.title }}
          </td>
        </tr>
        {% if message.body %}
        <tr>
          <td>{% trans 'Message' %}: {{message.body}}</td>
        </tr>
        {% endif %}
        {% if reply_list %}
            {% for reply in reply_list %}
            <tr align="left">
              <td><a href="/pybbs/{{reply.id}}">{{ reply.title }}</a>: {{ reply.body }}</td>
            </tr>
            {% endfor %}
        {% else %}
            {% if user.is_authenticated %}
            <tr align="left">
              <td>{% trans 'No replies. Be the first one.' %}</td>
            </tr>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
          {% if message.id %}
            <form action="/pybbs/{{ message.id }}/reply/" method="post">
                <tr align="left"><td><input type="text" id="id_title" name="title" value="Re:{{ message.title }}"/></td></tr>
          {% else %}
            <form action="/pybbs/create/" method="post">
                <tr align="left"><td><input type="text" id="id_title" name="title" value=""/></td></tr>
          {% endif %}
                <tr align="left"><td><textarea id="id_body" rows="10" cols="40" name="body"></textarea></td></tr>
                <tr align="left"><td><input type="submit" value="{% trans 'Reply' %}" /></td></tr>
            </form>
        {% endif %}
      </table>
     {% endif %}
     </div>
    </body>
</html>
