{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
      #bg {
      background: #CCCCCC; 
      padding:    0px;
      margin:     .5em;
      border:     .1em solid black;
      padding:    .5em;
      }
    </style>
  </head>
  <body>
    <div align="justify" id="bg">
      {% include 'pybbs/lang.html' %}
      {% if root_message_list %}
      <ul>
        {% for message in root_message_list %}
        <li><a href="/pybbs/{{message.id}}/">{{ message.title }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p>{% trans 'No messagess are available.' %}</p>
      {% endif %}
      {% if user.is_authenticated %}
      <table>
        <form action="/pybbs/create/" method="post">
          <tr align="left"><td><input type="text" id="id_title" name="title" value=""/></td></tr>
          <tr align="left"><td><textarea id="id_body" rows="10" cols="40" name="body"></textarea></td></tr>
          <tr align="left"><td><input type="submit" value="{% trans 'Reply' %}" /></td></tr>
        </form>
      </table>
      {% endif %}
    </div>
  </body>
</html>
