{% extends "pybbs/base.html" %}
{% load i18n %}
{% block title %}
  PyBBS
{% endblock %}
{% block center %}
      {% if root_message_list %}
      <ul>
        {% for message in root_message_list %}
        <li><a href="/pybbs/{{message.id}}/">{{ message.title }} /{{ message.owner.username }}/ </a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p>{% trans 'No messagess are available.' %}</p>
      {% endif %}
      {% if user.is_authenticated %}
      <table border="0">
        <tr><td><hr></td></tr>
        <form action="/pybbs/create/" method="post">
          <tr align="left"><td><input type="text" id="id_title" name="title" value=""/></td></tr>
          <tr align="left"><td><textarea id="id_body" rows="10" cols="40" name="body"></textarea></td></tr>
          <tr align="left"><td><input type="submit" value="{% trans 'Reply' %}" /></td></tr>
        </form>
      </table>
      {% endif %}
{% endblock %}
